src/SonyService/SonyServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://SonyService/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://SonyService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://SonyService/" schemaLocation="SonyServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sendSongs">
    <part name="parameters" element="tns:sendSongs"/>
  </message>
  <message name="sendSongsResponse">
    <part name="parameters" element="tns:sendSongsResponse"/>
  </message>
  <message name="sendMovies">
    <part name="parameters" element="tns:sendMovies"/>
  </message>
  <message name="sendMoviesResponse">
    <part name="parameters" element="tns:sendMoviesResponse"/>
  </message>
  <message name="getMovie">
    <part name="parameters" element="tns:getMovie"/>
  </message>
  <message name="getMovieResponse">
    <part name="parameters" element="tns:getMovieResponse"/>
  </message>
  <message name="sendUserActivity">
    <part name="parameters" element="tns:sendUserActivity"/>
  </message>
  <message name="sendUserActivityResponse">
    <part name="parameters" element="tns:sendUserActivityResponse"/>
  </message>
  <message name="getSong">
    <part name="parameters" element="tns:getSong"/>
  </message>
  <message name="getSongResponse">
    <part name="parameters" element="tns:getSongResponse"/>
  </message>
  <portType name="SonyService">
    <operation name="sendSongs">
      <input ns1:Action="http://SonyService/SonyService/sendSongsRequest" message="tns:sendSongs" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://SonyService/SonyService/sendSongsResponse" message="tns:sendSongsResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sendMovies">
      <input ns3:Action="http://SonyService/SonyService/sendMoviesRequest" message="tns:sendMovies" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://SonyService/SonyService/sendMoviesResponse" message="tns:sendMoviesResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getMovie">
      <input ns5:Action="http://SonyService/SonyService/getMovieRequest" message="tns:getMovie" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://SonyService/SonyService/getMovieResponse" message="tns:getMovieResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sendUserActivity">
      <input ns7:Action="http://SonyService/SonyService/sendUserActivityRequest" message="tns:sendUserActivity" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://SonyService/SonyService/sendUserActivityResponse" message="tns:sendUserActivityResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getSong">
      <input ns9:Action="http://SonyService/SonyService/getSongRequest" message="tns:getSong" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://SonyService/SonyService/getSongResponse" message="tns:getSongResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

